<footer class="footer">
  <small>
    סגל חקלאות
  </small>
  <nav>
    <ul>
      <li><%= link_to "קצת עלינו",   about_path %></li>
      <li><%= link_to "צרו קשר", contact_path %></li>
    </ul>
  </nav>
</footer>
